.container {
	width: 75vw;
	margin: 0 auto;
	height: 65vh;
	display: flex;
	justify-content: space-between;
}
.container img:nth-child(1) {
	border: 1px solid grey;
	border-radius: 15px;
	width: 31%;
	height: 100%;
	object-fit: cover;
}
.container img:nth-child(2){
    //
}
