.container {
	height: 100vh;
	width: 75vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid red;
}

.left {
	border: 2px solid blue;
	width: 50%;
}

.right {
	border: 2px solid blue;
	text-align: end;
	width: 50%;
}
