.container {
	height: 100vh;
	width: 75vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left {
	/* border: 2px solid blue; */
	width: 50%;
}
.left video {
	width: 100%;
	max-height: 50vh;
	object-fit: cover;
}

.right {
	/* border: 2px solid blue; */
	text-align: end;
	width: 50%;
}
.right p {
	width: 75%;
}
