.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90vw;
	height: 100vh;
	gap: 2.5%;
}
.inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 90vw;
	height: 100vh;
	gap: 2.5%;
}
.section1 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 25%;
	height: 100%;
}
.section1 h1 {
	/* font-family: subheader; */
	font-size: 32px;
}
.section1 img {
	object-fit: cover;
	border-radius: 15px;
	width: 100%;
	height: 25%;
}
.section2 {
	width: 45%;
	height: 80%;
}
.section2 img {
	object-fit: cover;
	border-radius: 15px;
}
.section3 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 25%;
	height: 100%;
}
.section3 img {
	width: 100%;
	height: 25%;
	object-fit: cover;
	border-radius: 15px;
	text-align: end;
}
.section3 p {
	align-self: flex-start;
	padding: 5rem 0 0 0;
}
