.container {
	display: flex;
	width: 100vw;
	/* border: 2px solid red; */
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-family: textfont;
}
.left {
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.right {
}
