.container {
	width: 75vw;
}
.top {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	margin-top: 2em;
}
.bottom {
	display: flex;
	width: 100%;
	justify-content: space-between;
	height: 100%;
}

.bottom img:nth-child(1) {
	width: 59.5%;
	object-fit: cover;
	border-radius: 10px;
}
.bottom img:nth-child(2) {
	width: 40%;
	object-fit: cover;
	border-radius: 10px;
}
