.arcane-circle {
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	animation: rotate 5s linear infinite;
	opacity: 0;
	transition: opacity 0.3s;
}

button:hover .arcane-circle {
	opacity: 1;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.circleButton {
	/* position: fixed; */
	/* top: 5em; */
	/* right: 5em; */
	z-index: 1000;
	width: 200px;
	border: 2px solid red;
}
.open {
	opacity: 0;
	display: none;
}
