.container {
	width: 100vw;
	/* height: 100vh; */
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	background-image: url('/otayBG.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	overflow: auto;
}

.glass {
	/* z-index: 0; */
	pointer-events: none;
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.11);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(9.1px);
	-webkit-backdrop-filter: blur(6.1px);
}
.widgetContainer {
	width: 50%;
}
.break {
	z-index: -2;
}
