.container {
	width: 75vw;
	height: 65vh;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 2rem;
}
.container img:nth-child(1) {
	border: 1px solid grey;
	border-radius: 15px;
	width: 58.5%;
	height: 100%;
	object-fit: cover;
}
.container img:nth-child(2) {
	border: 1px solid grey;
	border-radius: 15px;
	width: 40%;
	height: 100%;
	object-fit: cover;
}
