.container {
	display: flex;
	width: 100vw;
	/* border: 2px solid red; */
	height: 100vh;
	justify-content: center;
	align-items: center;
	font-family: textfont;
}
.left {
	width: 50vw;
}
.right {
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.right img {
	width: 400px;
	object-fit: cover;
	display: block;
}
.right p {
	max-width: 75%;
	margin: auto;
}
